 @page
@model asp_presentaciones.Pages.Ventanas.AuditoriasModel
@{
    ViewData["Titulo"] = "Auditorias";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Auditorias</h3>
            </div>
            <div align="left"
                 class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_utilidades.Enumerables.Ventanas.Listas)" />
            </div>

           
            @if (ViewData.ContainsKey("Mensaje"))
            {
            <input type="hidden"
                   asp-for="@Model.Accion" />
            @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Listas)
            {
            <input id="flNombre"
                   class="cts_forms form-control"
                   asp-for="@Model.Filtro!.Accion"
                   placeholder="Accion" />
            <br />

            <div class="containers_vn panel panel-default">
                <table class="tb_data table table-striped table-bordered table-hover">
                    <tr>
                        <th>
                            Nom_Entidad
                        </th>
                        <th class="cl_hidden">
                            Entidad_id
                        </th>
                        <th class="cl_hidden">
                            Accion
                        </th>
                    </tr>
                    @if (Model != null && Model.Lista != null)
                        {
                    @foreach (var elemento in Model.Lista)
                            {
                    <tr>
                        <td>
                            @elemento.Nom_Entidad
                        </td>
                        <td class="cl_hidden">
                            @elemento.Entidad_id
                        </td>
                        <td class="cl_hidden">
                            @elemento.Accion
                        </td>
                    </tr>
                            }
                        }
                </table>
            </div>
            }
        </form>
    </div>
</center> 